/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------universal------*/
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 2.5;
}
/*hr {
  display: block;
  height: 1.5px;
  border: 0;
  border-top: 1px solid #4797ec;
  margin: 1em 0;
  padding: 0;
}*/
.wrapper {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.btn {
  padding: 1.5rem;
  border-radius: 2.8rem;
  border-style: none;
}
i {
  font-size: 3rem;
  color: aliceblue;
}
/*--------header--------*/
.header {
  grid-template-columns: repeat(2, 1fr);
  background-color: #4797ec;
  background-image: linear-gradient(90deg, rgba(71, 151, 236, 0), #884beb 90%);
  color: azure;
  top: 0;
  width: 100%;
  height: 2.75rem;
}
.logo {
  text-align: center;
  font-size: 2rem;
  padding: 0.3rem;
}
/*---------hero----------*/
.hero {
  background-image: linear-gradient(
      90deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url(../media/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 85vh;
  position: relative;
  text-align: center;
  justify-content: center;
  background-attachment: fixed;
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 10rem 0 10rem 0;
}
.hero-content {
  position: relative;
  z-index: 1;
}
.content-head {
  font-size: 5rem;
  padding: 3rem;
}
.btn-primary {
  width: 15rem;
  background-image: linear-gradient(90deg, rgba(71, 151, 236, 0), #884beb 90%);
  background-color: #4797ec;
  color: antiquewhite;
  font-size: 1.5rem;
}
/*-------section1------*/
.section1 {
  grid-template-columns: 1fr;
}
.section1 h2 {
  padding: 5rem 0 2rem 0;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}
.section1 hr {
  width: 6rem;
}
.section1 p {
  padding: 2rem 0 5rem 0;
  font-size: 1.5rem;
  text-align: center;
}
/*-------section2--------*/
.section2 {
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
}
.section2 img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.733);
  margin: 1rem 1rem 1rem 15rem;
}
.sec2-content {
  padding: 10rem 3rem 0 3rem;
}
.sec2-content h2 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.sec2-content p {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
.sech,
.secp {
  text-align: right;
  padding-left: 2rem;
}
/*-------section4------*/
.section4 {
  background-color: #4797ec;
  background-image: linear-gradient(45deg, rgba(71, 151, 236, 0), #884beb 80%);
  margin-top: 5rem;
}
.sec4 {
  grid-template-columns: 1fr;
}
.sec4 h2 {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.sec4 hr {
  width: 6rem;
}
.sec4 p {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  padding-bottom: 3rem;
  padding-top: 2rem;
}
/*---------section5------*/
.section5 {
  background-color: #4797ec;
  background-image: linear-gradient(45deg, rgba(71, 151, 236, 0), #884beb 80%);
}
.sec5 {
  grid-template-columns: repeat(3, 1fr);
  color: aliceblue;
}
.sec5i {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.733);
  margin: 4rem 0 4rem 4rem;
}
.secsec h2 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: right;
  margin-top: 3rem;
}

.secsec p {
  font-size: 1rem;
  padding-bottom: 3rem;
  text-align: right;
}
.secsec2 h2 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: left;
  margin-top: 3rem;
}
.secsec2 p {
  font-size: 1rem;
  padding-bottom: 3rem;
  text-align: left;
}
.list {
  text-align: right;
  padding-top: 3rem;
}
.list2 {
  text-align: left;
  padding-top: 3rem;
}

/*-----------section6------*/
.btn-secondary {
  width: 15rem;
  background-image: linear-gradient(90deg, rgba(71, 151, 236, 0), #884beb 90%);
  background-color: #4797ec;
  color: antiquewhite;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
/*-----------footer--------*/
.footer {
  grid-template-columns: 1fr;
  background-image: linear-gradient(
      90deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url(../media/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 40vh;
  position: relative;
  text-align: center;
  justify-content: center;
  background-attachment: fixed;
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 10rem 0 10rem 0;
}
